#INDEX_COMPRESS
index_compress.html
index_default.html

#BEATLES_TRIBUTO
Beatles_Tributo/info.txt
Beatles_Tributo/.sass-cache
Beatles_Tributo/assets/sass/
Beatles_Tributo/assets/css/style.css.map

#MOBILE_TEST
Mobile_Test/info.txt
Mobile_Test/src/index_default.html
Mobile_Test/assets/sass/
Mobile_Test/assets/css/style.css.map

#BREAKING_BAD_TRIBUTO
Breaking_Bad_Tributo/info.txt
Breaking_Bad_Tributo/assets/sass/
Breaking_Bad_Tributo/assets/css/style.css.map
Breaking_Bad_Tributo/src/index_full.html

#SCROLL_SMOOTH
Scroll_Smooth/info.txt
Scroll_Smooth/assets/sass/
Scroll_Smooth/assets/css/style.css.map

#OTHERS
Design