$color-primary-1: #41c27e;
$color-primary-2: #47ad77;
$bg-gradient: linear-gradient($color-primary-1, $color-primary-2);

// HERO
$hero-default: #525252;
$hero-p: #6e6c6c;

// BRAND
$brand-bg: #f1f1f1;

// ABOUT
$about-bg: #f9f9f9;
$about-h2: #525151;
$about-p: #767272;
$about-li: #6d6c6c;

// TESTMONIAL
$testemonial-bg: #faf9f9;
$testemonial-p: #767272;
$testemonial-name: #4b4848;
$testemonial-charge: #6f6d6d;

// SUBSCRIPTION

$subscription-input-color: #41c17d;

// FOOTER
$footer-bg: #faf9f9;
$footer-icons: #dddddd;
$footer-txt: #767272;
$footer-strong: #333;